{% extends 'social/feed.html' %}
{% block content %}

<!-- Profile -->
<div class="profile">
	<img src="{{ user.profile.image.url }}">
	<h2>@{{ user.username }}</h2>
	{% if request.user.is_authenticated %}
		{% if user.username != request.user.username %}
			{% if user not in request.user.profile.following%}
				<button class="btn btn-outline-primary"><a class="btn-follow" href="{% url 'follow' user %}">Follow</a></button>
			{% else %}
				<button class="btn btn-outline-secondary"><a class="btn-unfollow"  href="{% url 'unfollow' user %}">Unfollow</a></button>
			{% endif %}
		{% endif %}
	{% endif %}
</div>

<!-- Follow items -->
<div class="follow">
	<div>
		<h5>Post</h5>
		<p> {{user.posts.count}} </p>
	</div>
	<div>
		<h5>Followers</h5>
		<p>{{ user.profile.followers.count }}</p>

	</div>
	<div>
		<h5>Following</h5>
		<p>{{ user.profile.following.count }}</p>
	</div>
</div>

{{ block.super }}
<!-- block super -->
{% endblock %}